In [2]:
print("Skill Gap Detector")

Skill Gap Detector

In [3]:
!pip install ydata_profiling

Requirement already satisfied: ydata_profiling in c:\users\moham\anaconda3\lib\site-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (1.13.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (3.9.2)
Requirement already satisfied: pydantic>=2 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (2.8.2)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (3.1.4)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in c:\users\moham\anaconda3\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (4.66.5)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (0.14.2)
Requirement already satisfied: typeguard<5,>=3 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (4.4.2)
Requirement already satisfied: imagehash==4.3.1 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in c:\users\moham\anaconda3\lib\site-packages (from ydata_profiling) (0.60.0)
Requirement already satisfied: PyWavelets in c:\users\moham\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata_profiling) (1.7.0)
Requirement already satisfied: pillow in c:\users\moham\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata_profiling) (10.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\moham\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata_profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\moham\anaconda3\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata_profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\moham\anaconda3\lib\site-packages (from numba<=0.61,>=0.56.0->ydata_profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\moham\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\moham\anaconda3\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata_profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\moham\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata_profiling) (1.4.2)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\moham\anaconda3\lib\site-packages (from pydantic>=2->ydata_profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.20.1 in c:\users\moham\anaconda3\lib\site-packages (from pydantic>=2->ydata_profiling) (2.20.1)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\moham\anaconda3\lib\site-packages (from pydantic>=2->ydata_profiling) (4.11.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\moham\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moham\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\moham\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moham\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata_profiling) (2025.4.26)
Requirement already satisfied: patsy>=0.5.6 in c:\users\moham\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata_profiling) (0.5.6)
Requirement already satisfied: colorama in c:\users\moham\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata_profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\moham\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\moham\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (3.3)
Requirement already satisfied: puremagic in c:\users\moham\anaconda3\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata_profiling) (1.29)
Requirement already satisfied: six in c:\users\moham\anaconda3\lib\site-packages (from patsy>=0.5.6->statsmodels<1,>=0.13.2->ydata_profiling) (1.16.0)

In [4]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np 

df = pd.read_csv('job_postings.csv')

In [5]:
Profile = ProfileReport(df,title='Job Postings Profiling Report',explorative=True)
Profile.to_file("job_postings_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 6/6 [00:00<00:00, 19.92it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# To remove the duplicates
print("Number of Duplicates:",df.duplicated().sum())
df.drop_duplicates(inplace=True)

0

In [10]:
print("Shape of the dataset:",df.shape)
print("Number of Duplicates:",df.duplicated().sum())

Shape of the dataset: (18936, 6)
Number of Duplicates: 0

In [15]:
# Converting everything to lower case
df = df.applymap(lambda x: x.lower().strip() if isinstance(x, str) else x)

print(df.head())

            Job Title                    Domain  \
0        data analyst  data science & analytics
1  penetration tester             cybersecurity
2          hr analyst              hr analytics
3          hr analyst              hr analytics
4       web3 engineer         blockchain & web3

                                     Required Skills Qualification  \
0  ['dax', 'dashboards', 'excel', 'pivot tables',...    bachelor's
1  ['burp suite', 'ethical hacking', 'exploit dev...           phd
2  ['dashboarding', 'data cleaning', 'data visual...           mba
3  ['dashboarding', 'data cleaning', 'data visual...           phd
4  ['chainlink', 'hardhat', 'react', 'smart contr...      master's

  Demand Level         Salary Range
0       medium  $120,000 - $150,000
1          low    $50,000 - $70,000
2         high    $50,000 - $70,000
3         high   $90,000 - $120,000
4          low   $90,000 - $120,000

C:\Users\moham\AppData\Local\Temp\ipykernel_11144\2999400595.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.lower().strip() if isinstance(x, str) else x)

In [16]:
def normalize_qualification(qual):
    qual = str(qual).lower()
    if "mba" in qual:
        return "mba"
    elif "bachelor" in qual or "b.tech" in qual or "bsc" in qual or "bca" in qual:
        return "bachelor"
    elif "master" in qual or "m.tech" in qual or "msc" in qual:
        return "master"
    elif "phd" in qual or "doctorate" in qual:
        return "phd"
    else:
        return "other"

df["Qualification"] = df["Qualification"].apply(normalize_qualification)

df.head()

,Job Title,Domain,Required Skills,Qualification,Demand Level,Salary Range
0,data analyst,data science & analytics,"['dax', 'dashboards', 'excel', 'pivot tables',...",bachelor,medium,"$120,000 - $150,000"
1,penetration tester,cybersecurity,"['burp suite', 'ethical hacking', 'exploit dev...",phd,low,"$50,000 - $70,000"
2,hr analyst,hr analytics,"['dashboarding', 'data cleaning', 'data visual...",mba,high,"$50,000 - $70,000"
3,hr analyst,hr analytics,"['dashboarding', 'data cleaning', 'data visual...",phd,high,"$90,000 - $120,000"
4,web3 engineer,blockchain & web3,"['chainlink', 'hardhat', 'react', 'smart contr...",master,low,"$90,000 - $120,000"

In [19]:
# Normalize salary

def parse_salary_range(salary_range):
    try:
        # Remove dollar signs and commas
        salary_range = salary_range.replace('$', '').replace(',', '')
        min_sal, max_sal = salary_range.split('-')
        return int(min_sal.strip()), int(max_sal.strip())
    except:
        return None, None

# Apply the parsing
df[['Min Salary', 'Max Salary']] = df['Salary Range'].apply(
    lambda x: pd.Series(parse_salary_range(x))
)

# Optional: Add average salary
df['Avg Salary'] = df[['Min Salary', 'Max Salary']].mean(axis=1)
df.head()

,Job Title,Domain,Required Skills,Qualification,Demand Level,Salary Range,Min Salary,Max Salary,Avg Salary
0,data analyst,data science & analytics,"['dax', 'dashboards', 'excel', 'pivot tables',...",bachelor,medium,"$120,000 - $150,000",120000,150000,135000.0
1,penetration tester,cybersecurity,"['burp suite', 'ethical hacking', 'exploit dev...",phd,low,"$50,000 - $70,000",50000,70000,60000.0
2,hr analyst,hr analytics,"['dashboarding', 'data cleaning', 'data visual...",mba,high,"$50,000 - $70,000",50000,70000,60000.0
3,hr analyst,hr analytics,"['dashboarding', 'data cleaning', 'data visual...",phd,high,"$90,000 - $120,000",90000,120000,105000.0
4,web3 engineer,blockchain & web3,"['chainlink', 'hardhat', 'react', 'smart contr...",master,low,"$90,000 - $120,000",90000,120000,105000.0

In [20]:
profile = ProfileReport(df, title="Final Job Postings Profiling Report", explorative=True)
profile.to_file("final_job_postings_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 9/9 [00:00<00:00, 25.79it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]